//- Mixins
mixin button($text="")
    a.button(href="#") !{$text}
mixin heading_paragraph_button($relative="",$heading_status="",$heading_text="",$paragraph="",$button_text="",$header='no')
    if $header == 'yes'
        #{$heading_status}(class=$relative+'-heading hpb-heading') !{$heading_text}
        .header-main-illustration
            img.header-main-illustration-img.ill-mix(src="img/header_illustration.png", alt="")
        p(class=$relative+'-paragraph hpb-paragraph') !{$paragraph}
        +button($button_text)
    else 
        #{$heading_status}(class=$relative+'-heading hpb-heading') !{$heading_text}
        p(class=$relative+'-paragraph hpb-paragraph') !{$paragraph}
        +button($button_text)
mixin section-heading($heading="",$about="")
    .main-section-heading
        h2.main-section-heading-head !{$heading}
        p.main-section-heading-head-about !{$about}
mixin services_card($heading="",$img_url="",$theme='grey')
    if $theme == 'grey'
        figure.services-card-figure.services-card-figure-grey
            .services-card-figure-card-photo
                img(class='services-card-figure-card' src=""+$img_url alt="")
            figcaption.services-card-figcaption 
                p.services-card-figcaption__heading.dib !{$heading}
                .services-card-figcaption-learn-more 
                    span.services-card-figcaption-learn-more-icon 
                        svg.services-card-figcaption-learn-more-icon-svg
                            use(xlink:href="#services-arrow")
                    p.services-card-figcaption-learn-more-text Learn more
                    
    else if $theme == 'dark'
        figure.services-card-figure.services-card-figure-dark
            .services-card-figure-card-photo
                img(class='services-card-figure-card' src=""+$img_url alt="")
            figcaption.services-card-figcaption 
                p.services-card-figcaption__heading.dib !{$heading}
                .services-card-figcaption-learn-more 
                    span.services-card-figcaption-learn-more-icon.services-card-figcaption-learn-more-icon-dark
                        svg.services-card-figcaption-learn-more-icon-svg
                            use(xlink:href="#dark-arrow")
                    p.services-card-figcaption-learn-more-text.services-card-figcaption-learn-more-text-dark Learn more
    else if $theme == 'green'
        figure.services-card-figure.services-card-figure-green
            .services-card-figure-card-photo
                img(class='services-card-figure-card' src=""+$img_url alt="")
            figcaption.services-card-figcaption 
                p.services-card-figcaption__heading.dib !{$heading}
                .services-card-figcaption-learn-more
                    span.services-card-figcaption-learn-more-icon 
                        svg.services-card-figcaption-learn-more-icon-svg
                            use(xlink:href="#services-arrow")
                    p.services-card-figcaption-learn-more-text Learn more
mixin case-studies($text="")
    figure.case-studies-figure 
        figcaption.case-studies-figcaption 
            p.case-studies-figcaption-text !{$text}
            .case-studies-figcaption-lm
                p.case-studies-figcaption-lm-text Learn more
                svg.case-studies-figcaption-lm-icon
                    use(xlink:href="#services-arrow")
mixin accordion($number="0"+$i,$name="",$about="During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.")
    button.accordion-item
        .accordion-item-label
            .accordion-item-label-heading
                p.accordion-item-label-heading-number !{$number}
                p.accordion-item-label-heading-text !{$name}
            .accordion-item-label-plus
        p.accordion-item-about !{$about}