//- Mixins
mixin button($text="")
    a.button(href="#") !{$text}
mixin heading_paragraph_button($relative="",$heading_status="",$heading_text="",$paragraph="",$button_text="",$header='no')
    if $header == 'yes'
        #{$heading_status}(class=$relative+'-heading hpb-heading') !{$heading_text}
        .header-main-illustration
            img.header-main-illustration-img.ill-mix(src="img/header_illustration.png", alt="")
        p(class=$relative+'-paragraph hpb-paragraph') !{$paragraph}
        +button($button_text)
    else 
        #{$heading_status}(class=$relative+'-heading hpb-heading') !{$heading_text}
        p(class=$relative+'-paragraph hpb-paragraph') !{$paragraph}
        +button($button_text)
mixin section-heading($heading="",$about="")
    .main-section-heading
        h2.main-section-heading-head !{$heading}
        p.main-section-heading-head-about !{$about}